

body{
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    min-width: 350px ;
   
}

*{
    box-sizing: border-box;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

    transition: 0.6s;
    z-index: 100000;
}




.menu{
    display:none;
}


.headerScroll{
    background: #ffffff;
}


header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header nav ul li{
    
    list-style: none;
}

header nav ul li a{
    font-weight: 400;
    margin: 0px;
    color: #000000;
    text-decoration: none;
    letter-spacing: 4px;
    transition: 0.5s;
    font-size: 22px;
    padding: 10px;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
}

.nav ul li a:hover{
    font-size: 24px;
}

header  a .logoIcon:hover{
transform: translateY(-5px);
font-size: 3rem;
}

header a .logoIcon{
    color: #38b6ff;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 350;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

header a{
    text-decoration: none;
}

header .logoIcon{
    margin: 10px;
}

/* 
.banner{
    position: relative;
    width: 100%;
    background-color: #F5F5F5;
    position: relative ;
    width: 100%;
    height: 80vh;
    background-image: url(./Componentes/imagen/banner2.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
}

.banner h2{
    font-weight: 300;
} */

.menu{
    display: flex;
    
}

.dropdown {
    float: left;
    
  }
  
   .dropbtn  {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-color: #000000;
    padding: 7px;
    background: transparent;
    gap: 6px;
    margin-top: 5px;
  }

  .dropbtn span{
    background: #000000;
    height: 2px;
    width: 20px;
    border-radius: 5px;
    transition: all .6s;
    transform-origin: 0px 100%;
    display: block;
  }

  .ac {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: .5rem;
    margin-top: 5px;
    margin-right: -35px;
    z-index: 2000;
    position: relative;
  }

  .ac span{
    background: #000000;
    height: 2px;
    width: 30px;
    border-radius: 5px;
    transition: all .6s;
    transform-origin: 0px 100%;
    display: block;
  }

  .ac .line1{
    transform: rotate(41deg) ;
  }

  .ac .line2{
    opacity: 0;
  }

  .ac .line3{
    transform: rotate(-41deg) ;
  }

  .instaNav{
    font-size: 25px;
    color: #000000;
  }

  .active {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 0;
    padding: 5px;
    position: fixed;
    top: 0;
    transition: .3s;
    margin-left: -150px;
    z-index: 1000;
    background-color: #ffffffea;
   
  }



  .active2{
    background-color: rgba(0,0,0,.6);
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    
    width: 100%;
    z-index: 10;
  }

  
  .active ul li a {
    font-size: 15px;
    color: #000000;
    padding: 15px 80px 30px 30px;
    
    text-decoration: none;
    display: block;
    float: left;
    text-align: center;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
  
    letter-spacing: 4px;
    transition: 0.5s;
    font-size: 20px;
    
  }

  .active ul li{
      list-style: none;
  }

  .active ul{
    margin-left: -40px;
}
  
  .menuBurger{
    display: none;
  }


.nav-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.mainImage{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 0px 3px 4px rgb(41 40 40);
    position: absolute;
    opacity: auto;
    
}



.mainImage .ver a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #fff;
    font-weight: 300;
    letter-spacing: 5px;
}

.mainImage .ver{
    margin-top: 20px;
}

.mainImage img{
    width: 350px;
    height: 350px;
    
}

.sliderContent{
    position: relative;
    width: 100%;
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    height: 650px;
    background-image: url(./Componentes/imagen/banner2.jpg);
    margin: 0;
    
}   

.s2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.s2 h2{
    font-size: 35px;
    margin-bottom: 120px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #38769a;
}

.s2 h4{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 20px;
    }

hr{
    border: 1px solid #0f0f0f;
    width: 20px;
    margin: 0;
    padding: 0;
}

.s3{
    
   width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.imgs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    margin-top: 30px;
    margin-left: 35px;
}


.content img{
    padding: 10px 10px;
    width: 90%;
    height: 80%;
    margin: 0;
    transition: 0.5s;
    border-radius: 15px;
}

.content a img{
    border-radius: 30px;
}


.content img:hover{
    
    transform: scale(1.1);
}

.verMas a{
    
    text-decoration: none;
    font-size: 1.3rem;
    padding: 15px;
    box-sizing: border-box;
    background-color: #355280;;
    color: #fff;
    font-weight: 350;
    border-radius: 15px;
}



.s3 h2{
    
    font-size: 2rem;
    font-weight: 600;
    color: #38769a;
}




.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 100px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.card {
    margin: 20px;
    margin-top: -115px;
}

.card img{
    height: 100px;
    width: 100px;
    
}

.card #img1{
    height: 100px;
    width: 100px;
    filter: invert(1);
}

.card span{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    font-weight: 300;
    
}

.s4{
    text-align: center;
    

}

.s4 h2{
    font-weight: 395;
    color: #000;
}

footer{
    position: relative;
    width: 100%;
    background-color: #393939;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 370;
}

 .row{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006baf;
    width: 100%;
    height: 150px;
}

.btnPresu{
    background-color: rgb(79, 180, 85);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(79, 180, 85);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.presu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 140px;
}

.presu h2{
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(79, 180, 85);
}


footer .iconsFoot,
footer .menuFoot
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: wrap;
    margin-left: -30px;
}

footer .iconsFoot li,
footer .menuFoot li
{
    list-style: none;
}

footer .iconsFoot a{
    color: rgb(255, 255, 255);
    margin: 0px 10px;
    text-decoration: none; 
    font-size: 2.5rem;
    display: inline-block;
    transition: 0.5s;
    
}

footer .iconsFoot a:hover{
    transform: translateY(-10px);
}

footer .menuFoot a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0px 10px;
    text-decoration: none; 
    font-size: 1.7rem;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.1;

}

footer .menuFoot a:hover{
    transform: translateY(-3px);
    opacity: 1;
}

footer p{
    color: rgb(255, 255, 255);
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 1.1rem;

}



footer p{
    text-align: center;
}

.s4{
    text-align: center;
    margin-top: 50px;
    color: #1f1e1ed3;
    font-size: 25px;
    
}

.s4 .boxTex {
    
    padding: 50px 80px;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.808);
    font-size: 25px;
}

.boxTex{
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
.boxTex h3{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.808);
    font-size: 30px;
}

.divider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: wrap;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dividerLine{
    width: 100%;
    height: 0.20rem;
    background-color: rgba(41, 41, 41, 0.805);
    border-radius: 1rem;
    border-color: #2c3e50;
    margin: 30px;
}

.dividerIcon{
    font-size: 25px;
}

.contenedorProd{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 100px;
    text-align: center;
}

.prods{
    background-color: #696767;
}

.contenedorProd img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin: 0px;
    padding: 20px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;
}



.bannerCont{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 0px 3px 4px rgb(41 40 40);
    position: absolute;
    opacity: auto;
    
}


.bannerProd{
    position: relative;
    width: 100%;
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    height: 410px;
    background-image: url(./Componentes/imagen/banner4.jpg);
    
}   

.bannerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iconBan{
    margin-top: 80px;
    width: 70%;
    margin-bottom: -100px;
}

.iconText{
    font-size: 65px;
    color: #2a60b1;
    margin-top: 80px;
    margin-bottom: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.iconText .flecha{
    font-size: 40px;
    color: #000000;
    margin: 20px;
}

.iconItem{
    font-size: 40px;
    color: #000000;
    margin-top: 170px;
    margin-bottom: -190px;
}


.bar{
    display: flex;  
    justify-content: baseline;
    align-items: center;
    flex-direction: wrap;
}
.bar hr{
    width: 700px;
    margin: 40px;
    
}

.bar p{
    font-size: 35px;
    
}

.carroContainer{

    height: 200px;
    width: 700px;
}

.aboutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 500px;
    padding: 20px 20pox;
    color: #1f1e1ed3;
    font-size: 21px;
    text-align: center;
}

.aboutContainer img{
    height: 400px;
    width: 700px;
}


.textContainer .aboutText {
    padding-top: 20px;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 398;
    color: #000;
    font-size: 20px;
    text-align: center;
    }

.aboutContainer h3, .aboutContainer h2{
        font-weight: 398;
        color: #000;
    }



.boxInfo{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    justify-content: center;
    align-items: center;

}

.boxAll::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.boxAll{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.boxContainer{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    
}

.boxCont{
    position: absolute;
    top: -40px;
    min-width: 420px;
    height: calc(100% - 80px);
    background-image: url(./Componentes/imagen/card.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4%;
    align-items: center;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.box{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxContainer2{
    position: absolute;
    padding: 0px 30px;
    padding-left: 250px;
    margin-left: 180px;
    height: 80%;
    background: #fff;
    box-shadow: 20px 20px 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 3%;
    
    
}


.boxAll2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.boxAll2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.boxInfo2{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    justify-content: center;
    align-items: center;

}



.boxContainer3{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    
}

.boxCont2{
    position: absolute;
    top: -40px;
    min-width: 420px;
    height: calc(100% - 80px);
    background-image: url(./Componentes/imagen/client.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4%;
    align-items: center;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
    left: 680px;
}

.box2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxContainer4{
    position: absolute;
    padding: 0px 30px;
    padding-right: 250px;
    margin-right: 180px;
    height: 80%;
    background: #fff;
    box-shadow: 20px 20px 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 3%;
}




.secForm{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 45px;
}

.secForm::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}



.containerForm{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    
}

.containerForm .contactInfo{
    position: absolute;
    top: 40px;
    min-width: 320px;
    height: calc(100% - 80px);
    background: #355280;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4%;
    align-items: center;
    padding: 40px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.containerForm .contactInfo .contactContent .info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.containerForm .contactInfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}


.containerForm .contactInfo .info {
    position: relative;
    list-style: none;
    margin: 20px 0;
    cursor: pointer;
}




.containerForm .contactInfo .info a, .containerForm .contactInfo .info span{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    font-size: 22px;
    text-decoration: none;
    margin-top: 20px
}


.containerForm .contactForm{
    position: absolute;
    padding: 0px 50px;
    padding-left: 250px;
    margin-left: 150px;
    height: 100%;
    background: #fff;
    box-shadow: 20px 20px 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 3%;
    min-width: 320px;
}

.containerForm .contactInfo ul.sci{
    position: relative;
    display: flex;

}

.containerForm .contactInfo ul.sci li{
    list-style: none;
    margin-right: 15px;
}

.containerForm .contactInfo ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}



.containerForm .contactForm h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.containerForm .contactForm .formBox{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}

.containerForm .contactForm .formBox .inputBox{
    position: relative;
    margin-bottom: 25px;
}

.containerForm .contactForm .formBox #w50{
    width: 47%;
}

.containerForm .contactForm .formBox #w100{
    width: 100%;
}

.containerForm .contactForm .formBox .inputBox input,
.containerForm .contactForm .formBox .inputBox textarea{
    width: 100%;
    resize: none;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 300;
    border: none;
    color: #333;
    outline: none;
    border-bottom: 1px solid #777;
}

.containerForm .contactForm .formBox .inputBox textarea{
    height: 120px;
}
.containerForm .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.5s;
}

.containerForm .contactForm .formBox .inputBox input:focus ~ span,
.containerForm .contactForm .formBox .inputBox input:valid ~ span,
.containerForm .contactForm .formBox .inputBox textarea:focus ~ span,
.containerForm .contactForm .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #095a55;
}


.containerForm .contactForm .formBox .inputBox input[ type="submit"]{ 
    position: relative;
    cursor: pointer;
    background: #355280;
    color: #fff;
    max-width: 150px;
    border: none;
    }

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
    width: 100%;
}

.galeContent{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 20px 20px 15px rgba(0, 0, 0, 0.16);
    width: 500px;
    max-width: 400px;
    height: 500px;
}

.galeContent img{
    width: 350px;
    max-width: 350px;
    min-width: 200px;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 20px;
}


.galeContent button{
    width: 100%;
    border: 0;
    padding: 15px;
    outline: none;
    background: #2183a2;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}




.productos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
    width: 100%;
    margin-top: 200px;
}

.productContent{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 20px 20px 15px rgba(0, 0, 0, 0.082);
    width: 450px;
    max-width: 450px;
    height: 600px;
}

.productContent img{
    width: 90%;
    height: 70%;
    margin-bottom: 30px;
    border-radius: 10px;
}


.productContent a{
    text-decoration: none;
    width: 40%;
    border: 0;
    text-align: center;
    padding: 15px;
    outline: none;
    background: #355280;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}

.detailContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.detailContainer button{
    background-color: #355280;
    padding: 20px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    margin-top: 70px;
    border-radius: 5px;
    transition: 0.4s;
}

.detailContainer button:hover{
    background-color: #14476f;
    transform: translateY(-5px);
}

.detailContent{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 200px;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 20px 20px 15px rgba(0, 0, 0, 0.16);
}

.detailColum{
    width: 40%;
    margin: 30px;
}

.detailColum img{
    width: 85%;
    height: auto;
    border-radius: 10px;
}

.detailColum span{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.boxTex .botonContact{
    margin-top: 30px;
    padding: 0px;
    margin-bottom: 30px;
}

.boxTex .botonContact h3{
    font-size: 27px;
    font-weight: 400;
    
}

.boxTex a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #355280;
    background-color:#355280 ;
    text-shadow: 0px 3px 4px rgb(41 40 40);
    opacity: 0.6;
    font-weight: 300;
    transition: 0.4s;
}

.boxTex a:hover{
    opacity: 1.2;
}

.loadContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 350px;
    margin-bottom: 100px;
}

.loadContainer h3{
    font-size: 35px;
    font-weight: 500;
    color: black;
}


.loader {
    height: 200px;
    width: 200px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    color: #355280;
}

@-moz-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}



.iconText .iconRotate{
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.botonGaleria button{
    background-color: #355280;
    padding: 20px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.4s;
    font-size: 20px;
}

.botonGaleria button:hover{
    background-color: #14476f;
    transform: translateY(-5px);
}

.botonGaleria button a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.4s;
}


.fotosContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #14476f;
}

.fotosContent{
    background-color: #14476f;

  box-sizing: border-box;
  padding: 120px;
width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
 
  gap: 10px;
}

.fotos img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.boxContainer{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

}

.boxColum{

    position: relative;
}

.boxColum1{
    position: absolute;
}





@media  (max-width: 1133px){

        .containerForm {
            width: 90%;
            min-width: 350px;
            margin: 20px;

        }
        .boxContainer2{
            width: 90%;
            min-width: 350px;
            margin: 20px;

        }

    }

@media  (max-width: 750px){

    .containerForm {
        display: flex !important;
        flex-direction: column-reverse !important;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
        
    }
    .containerForm .contactInfo{
            top: 0;
            height: 550px;
            position: relative;
            box-shadow: none;
            width: calc(100% - 150px);
            box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.25);
        }

    .containerForm .contactForm{
        position: relative;
        width: calc(100% - 150px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        
    }
}



@media  (max-width: 1636px){
    .imgContent{
        position: relative;
        height: 500px;
        width: 475px;
    }
}





@media  (max-width: 1280px)
{
  

    .fotosContent{
        padding: 60px
    }
} 

@media  (max-width: 1067px){
    .item{
        margin-top: 200px;
    }

    .imgs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
    .presu{
        flex-direction: column;
        padding: 0;
    }


}

@media  (max-width: 856px){
    .detailColum{
        width: 100%;
    }
    .fotosContent{
        padding: 35px
    }
}


@media  (max-width: 816px)
{
    .item{
        width: 100%;
    }

    .cards{
        grid-template-columns: 1fr;
    }
}

@media  (max-width: 768px){
    .item{
        margin-top: 200px;
    }

    .content #img1{
            height: 350px;
            width: 600px;
        }

        .fotosContent{
            grid-template-columns: 1fr 1fr;
        }
    }




@media  (max-width: 645px){
    .banner h2{
        font-size: 35px;
    }
    .fotosContent{
        padding: 20px
    }
}

@media  (max-width: 615px){



    
    .content #img1{
            height: 250px;
            width: 400px;
        }
        .imgContent{
            height: 400px;
            width: 395px;
        }
        .superContenedor{
            margin-bottom: -150px;
        }
    .imgs {
            grid-template-columns: 1fr;
            }
    footer p{
                font-size: 1rem;
            }
            .banner h2{
                font-size: 25px;
            }
            .mainImage .ver a{
                font-size: 18px;
            }
    }


@media  (max-width: 560px){
    .galeContent img{
        width: 330px;
        height: 310px;
        margin-bottom: 20px;
    }
        footer .menuFoot{
            flex-direction: column;
        }
        .bannerCont h2{
            font-size: 30px;
        }

        .s3 h2{
            font-size: 27px;
        }

        .boxTex h3{
            font-size: 25px;

        }

        .boxTex p{
            font-size: 20px;
        }

        .s4 .boxTex{
            padding: 50px 30px;
        }

        .presu h2{
            font-size: 1.3rem;
        }

    }



    
    @media  (max-width: 490px){
        .banner h2{
             font-size: 20px;
        }
        .mainImage .ver a{
            font-size: 10px;
        }
        
        .mainImage img{
            width: 300px;
            height: 300px;
        }
    }



@media  (max-width: 458px){
    header .logo{
        text-align: center;
    }

    }

@media  (max-width: 435px){
        .content #img1{
            height: 250px;
            width: 300px;
        }
        .imgContent{
            height: 330px;
            width: 325px;
        }
        .bannerCont h2{
            font-size: 20px;
            text-align: center;
        }

        
        .presu h2{
            font-size: 1rem;
        }

        .btnPresu{
            font-size: 0.8rem;
        }
    }


@media  (max-width: 450px){


    .imgContent{
        height: 320px;
        width: 280px;
    }
        .s3 h2{
            font-size: 1.4rem;
        }

        .boxTex{
            font-size: 1rem;
        }
    }

    
@media  (max-width: 415px){
    .galeContent img{
        width: 300px;
        height: 290px;
        margin-bottom: 20px;
    }


        .logo{
            width: 200px;
        }
}


    @media  (max-width: 309px){
        .imgContent{
            height: 280px;
            width: 260px;
        }
    }

@media  (max-width: 300px){

    footer p{
        font-size: 1rem;
    }
}